@font-face {
    font-family: "Inter-Bold";
    src: url("/social-links-profile-main/assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
    font-family: "Inter-Regular";
    src: url("/social-links-profile-main/assets/fonts/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter-Semibold";
    src: url("/social-links-profile-main/assets/fonts/static/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Inter-Font";
    src: url("/social-links-profile-main/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

body{
    background-color: #141414;
    display: flex;
    justify-content: center;  /*Центрирует по вертикали*/
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
}

.table{
    background: #1F1F1FA8;
    width: 329px;
    height: 552px;
    border-radius: 8px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /*Центрирует по горизонтали*/
    margin: 0;
}

.table img{
    width: 91px;
    height: 91px;
    border-radius: 50px;
    opacity: 1;
    display: flex;
    margin-top: 31px;

}

.table h1{
    font-family: "Inter-SemiBold";
    font-size: 20px;
    color: white;
    margin-top: 20px;

}

.table h2{
    font-family: "Inter-Bold";
    font-size: 14px;
    color: #C5F82A;
    margin-top: -5px;
}

.table p{
    font-family: "Inter-Regular";
    font-size: 14px;
    color: white;
}

.table a{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    margin: 10px;
    width: 252px;
    height: 34px;
    border-radius: 8px;
    opacity: 1;
    font-family: "Inter-SemiBold";
    font-size: 14px;
    color: white;
    text-decoration: none;
    transition: 0.35s;
}

.table a:hover{
    background-color: #C5F82A;
    color:black;
}

